@charset "utf-8";



{
    background-color: rgba(172, 172, 172, 0.5);
}

header
{
    background-color: rgb(26, 22, 22);
    color: rgb(255, 0, 0);
    border:0px 0px 0px 0px;
    padding: 85px 0px 25px 0px;
    margin:-8px -31px 20px -8px;
    text-align: center;

}

h1
{
    border:0px 0px 0px 0px;
    padding: 8px 200px 0px 0px;
    margin:-40px -21px 20px -8px;
    
}

nav
{
    background-color: rgba(95, 94, 94, 0.404);
    border:0px 0px 0px 0px;
    padding: 0px 200px 0px 0px;
    margin:-40px -40px 0px -13px;
    text-align: center;
}

img
{
 float: left;
 border:0px 0px 0px 0px;
    padding: 0px;
    margin:-100px -13px 0px -7px;

}

a
{
    text-decoration:none ;
    color: aliceblue;
    padding: 25px;
}

main
{
    background-color: white;
    min-width: 780px;
    max-width: 1000px;
    margin: auto;
}

main h2
{
    border:0px 0px 0px 0px;
    padding: 29px 0px 0px 0px;
    margin:10px 0px 10px 0px;
    text-align: center;
}

main h3
{
    
    background-color: rgba(95, 94, 94, 0.404);
    border:0px 0px 0px 0px;
    padding: 8px 200px 0px 0px;
    margin:10px 0px 10px 0px;
}

main p 
{
    margin: 0px 10px 0px 10px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1em;
}
   
.lua
{
  
    display: block;
    margin: 30px 15px 19px 15px;
    padding: 0px 0px 0px 0px;
}

footer
{
    background-color: black;
    color: rgb(255, 0, 0);
    text-align: center;
    border:0px 0px 0px 0px;
    padding: 5px ;
    margin:0px -30PX 0PX 0PX;
}