@charset "utf-8";

body
{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.slider
{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides
{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input
{
    display: none;
}

.slider
{
    width: 25%;
    position: relative;
}

.slide img
{
 width: 800px;
}

.manual-navigation
{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    /*esse cod não esta indo, justify-content: center; */
}

.manual-btn
{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-chils)
{
    margin-right: 40px;
}
/* #radio1:checked ~ .first serve para manipular e passar as img para o lado, e a porcentagem a o quanto eu quero que a imagem vai para o lado*/
#radio1:checked ~ .first
{
    margin-left: 0;
}

#radio2:checked ~ .first
{
    margin-left: -25%;
}

#radio3:checked ~ .first
{
    margin-left: -50%;
}

/*para manter a bolinha branca*/

#radio1:checked ~ .navigation-auto .auto-btn1
{
    background-color: white;
}
