@charset "utf-8";

/* TODAS AS DEMAIS MIDIAS*/

/*  DIVERCE BRAK PONTS (DIVERSOS TIPOS DE TELA)
1- Pequena: ate 600px
2-Celular: de 500 ate 768
3-Tablet: de 768 ate 992px
4-desk top : 992 ate 1200
5- Grandes telas: acma de 1200px
*/

@media screen and (min-width: 600px) 
{
   span#burguer
   {
    display: none;
   }
  menu {
    display: block;
   }
}

menu > ul > li 
{
    display: inline-block;
    
}

menu{
    text-align: center;
}


/*essa conf é para manter a tela em um padraão para ela não ficar muito grande é basicamente limitar*/
main
{
    width: 500px;
}