@charset "utf-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}
@font-face {
    font-family: "love";
    src: url(unispace/Unispace\ Bd.otf) format("opentype"), url() format("truetype");
    font-weight: normal;
    font-style: normal;
  }

body, html
{
    background-image: linear-gradient(to top, rgb(163, 228, 188), rgb(255, 255, 255));
    height: 100vh;
    width: 100vw;
}



header
{
    background-image: url(imagem/pexels-cottonbro-5473302.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(128, 117, 117);

    width: 100%;
    height: 100%;
    border-radius: 1px;
    box-shadow: 0px 0px 10px black;
}

h1{
    color: #fae7c4;
    padding: 20px;
    text-align: center;
    font-family: 'love', Times, serif ;
    font-size:  2em ;
    
}
header > nav
{
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
}

.botao
{
    font-size: .8em;
    text-decoration: none;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 3px;
    border: 1PX solid rgb(255, 255, 255);
    border-radius: 5px;
    color: #fae7c4;
    font-family: 'love', Times, serif ;
    font-size:  .8em ;
}

.botao:hover
{
    background-color: rgba(156, 101, 75, 0.589);
    color: rgb(0, 0, 0);
    padding: .5em;
    transition: .5s;
    
}

h2{
    background-color: rgba(25, 37, 48, 0.753);
    margin-top: 9px;
    margin-bottom: 10px;
    text-align: center;
    color: #fae7c4;
    font-family: 'love', Times, serif ;
    font-size:  1.5em ;
}

p
{
    display: block;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 15px 15px 15px;
    background-color: rgba(25, 37, 48, 0.753);
    text-align:left;
    color: #fae7c4;
    text-align: center;
    font-family: 'love', Times, serif ;
    font-size:  1em ;
}

a.entrar
{

    text-decoration: none;
    color: #fae7c4;
    padding: 2px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    

    
}

a.entrar:hover
{
    background-color: rgba(156, 101, 75, 0.589);
    color: white;
    padding: .3em;
    margin: 2px;
    color: black;
    transition: .5s;
}
.final
{
    background-color: rgba(25, 37, 48, 0.753);
    padding-top: 4px;
    margin-top: 122px;
    color: aliceblue;
}
.final > a
{
    text-decoration: none;
    color: #fae7c4;
}